body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: yellow;
}

.form{
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0, .3);
    border-radius: 10px;
    margin: 5px;
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: solid 4px rgb(94, 20, 94);
    color:rgb(94, 20, 94);

}

.input::placeholder{
    color: lightgray;
}

.btn{
    background-color: rgb(94, 20, 94);
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0 ;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.3);
    cursor: pointer;
}

.btn:hover{
    filter: brightness(0.9);
}

.score{
    color:rgb(94, 20, 94);
    text-align: right;
}